.MentalHealth{
  .text {
    font-size: 16px;
    font-family: Regular;
    color: #203449;
    line-height: 16px;
    text-align: center;

    span {
      font-family: Bold;
    }
  }
  .MentalHealth-one {
      .MentalHealth-left-top {
        margin-top: 12px;
      }
      .speciality{
        padding: 10px 0 90px;
        .round-box{
          width: 300px;
          height: 300px;
          border-radius: 50%;
          border:1px dashed #1B528B;
          position: relative;
          .round{
            width: 220px;
            height: 220px;
            border-radius: 50%;
            border:20px solid #f0f4f7;
          }
          .top-l{
            width: 240px;
            position: absolute;
            top: 20px;
            left: -176px;
            .tag{
              width: 72px;
              height: 72px;
              border-radius: 50%;
              background-color: #45A0E6;
              text-align: center;
              line-height: 72px;
              color: #fff;
              font-size: 18px;
              margin-left: 16px;
            }
          }
          .top-r{
            width: 240px;
            position: absolute;
            top: 20px;
            right: -176px;
            .tag{
              width: 72px;
              height: 72px;
              border-radius: 50%;
              background-color: #1B528B;
              text-align: center;
              line-height: 72px;
              color: #fff;
              font-size: 18px;
              margin-right: 16px;
            }
          }
          .center-l{
            width: 240px;
            position: absolute;
            top: 55%;
            left: -194px;
            .tag{
              width: 72px;
              height: 72px;
              border-radius: 50%;
              background-color: #F39702;
              text-align: center;
              line-height: 72px;
              color: #fff;
              font-size: 18px;
              margin-left: 4px;
            }
          }
          .center-r{
            width: 240px;
            position: absolute;
            top: 55%;
            right: -194px;
            .tag{
              width: 72px;
              height: 72px;
              border-radius: 50%;
              background-color: #4D5FC1;
              text-align: center;
              line-height: 72px;
              color: #fff;
              font-size: 18px;
              margin-right: 4px;
            }
          }
          .bottom-c{
            width: 240px;
            position: absolute;
            bottom: -58px;
            .tag{
              width: 72px;
              height: 72px;
              border-radius: 50%;
              background-color: #B22924;
              text-align: center;
              line-height: 72px;
              color: #fff;
              font-size: 18px;
              margin-bottom: 6px;
            }
          }
        }
      }
      // .difference{

      // }

  }

  .content-one {
    width: 100%;
    padding-top: 15px;

    .content-one-speciality {
      width: 100%;
      background: linear-gradient(-45deg, transparent 20px, rgba(220, 221, 221, 0.21) 0);
      padding: 20px;
      box-sizing: border-box;
      margin-top: 14px;
      margin-bottom: 20px;
      .speciality-box{
        padding:12px 20px 0;
        .list-item {
          width: 100%;
          height: 56px;
          border-radius: 8px;
          padding-left: 4px;
          margin-bottom: 10px;

          .tag {
            width: 48px;
            height: 48px;
            border-radius: 8px;
            padding: 0 10px;
            font-size: 14px;
            line-height: 20px;
            color: #fff;
            display: flex;
            align-items: center;
          }

          .msg-box {
            font-size: 16px;
            font-family: Regular;
            color: #203449;
            line-height: 22px;
            margin-left: 15px;

            .bold {
              font-family: bold;
            }
          }
        }
      }
      .radar{
        width: 100%;
        height: 190px;
      }

    }

    .content-one-difference {
      width: 100%;
      height: 370px;
      background: linear-gradient(-45deg, transparent 20px, rgba(220, 221, 221, 0.21) 0);
      padding: 20px;
      box-sizing: border-box;
      margin-top: 14px;
      align-items: flex-start;
      margin-bottom: 20px;
      .speciality-box{
        padding:12px 20px 0;
        .list-item {
          width: 100%;
          height: 56px;
          border-radius: 8px;
          padding-left: 4px;
          margin-bottom: 10px;

          .tag {
            width: 48px;
            height: 48px;
            border-radius: 8px;
            padding: 0 10px;
            font-size: 14px;
            line-height: 20px;
            color: #fff;
            display: flex;
            align-items: center;
          }

          .msg-box {
            font-size: 16px;
            font-family: Regular;
            color: #203449;
            line-height: 22px;
            margin-left: 15px;

            .bold {
              font-family: bold;
            }
          }
        }
      }
    }
  }

  .MentalHealth-two {
    padding-top: 15px;

    .MentalHealth-two-top {
      width: 100%;
      height: 128px;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        width: 90px;
        height: 74px;
        background: url(@/assets/imgs/warn-icon.png) no-repeat;
        background-size: 100% 100%;
        position: relative;
        margin: 0 14px 0;

        .tag {
          width: 15px;
          height: 15px;
          display: block;
          position: absolute;
          top: 0;
          right: -15px;
          cursor: pointer;
        }

        .txt {
          width: 120px;
          font-size: 13px;
          font-family: Medium;
          color: #B22924;
          height: 13px;
          line-height: 13px;
          text-align: center;
          transform: rotate(-30deg);
          position: absolute;
          top: 30px;
          left: -15px;
        }

      }

      .card {
        width: 190px;
        height: 80px;
        background-color: #45A0E6;
        border-radius: 8px;
        box-shadow: 0px 0px 20px 0px #ebebeb;

        img {
          width: 27px;
          height: 27px;
          display: block;
          margin: 0 20px;
        }

        .r-box {
          .up {
            margin-bottom: 10px;
            font-size: 18px;
            font-family: Regular;
            color: #FFFFFF;
            line-height: 18px;
          }

          .down {
            font-size: 18px;
            font-family: Regular;
            color: #FFFFFF;
            line-height: 18px;

            span {
              font-family: Bold;
            }
          }
        }
      }
    }

    .MentalHealth-two-center {
      padding-bottom: 10px;
    }

    .list-bottom {
      width: 100%;
      height: 16px;
      text-align: center;
      font-size: 16px;
      font-family: Regular;
      color: #203449;
      line-height: 16px;
      margin-bottom: 26px;

      span {
        font-family: Bold;
        color: #005DA7;
      }
    }
  }

  .content-two {
    width: 100%;
    padding-top: 15px;

    .content-two-body {
      width: 100%;
      background: linear-gradient(-45deg, transparent 20px, rgba(220, 221, 221, 0.21) 0);
      padding: 20px;
      box-sizing: border-box;
      margin-top: 14px;

      .card-box {
        padding: 15px 40px;
      }

      .body-bottom {
        height: 198px;
        margin-bottom: 10px;
        .body-bottom-left {
          width: 50%;
          height: 100%;
          .two {
            :deep(.el-progress-circle__track) {
              // 修改进度条背景色 
              stroke: #efe1e1;
              stroke-width: 4;
            }
          }
          .percentage-value {
            font-size: 26px;
            font-family: Bold;
            span {
              font-size: 16px;
              font-family: Regular;
            }
          }
          .percentage-total {
            height: 16px;
            font-size: 16px;
            color: #203449;
            line-height: 16px;
            margin-top: 6px;
          }
        }
        .body-bottom-right{
          width: 50%;
          height: 100%;
          .body-bottom-right-chart{
            width: 270px;
            height: 170px;
            background: linear-gradient(-45deg, transparent 20px, #fff 0);
          }
        }
      }
    }
  }

  .MentalHealth-three,.MentalHealth-four{
    padding: 15px 0 12px;
    .chart-dom{
      width: 100%;
      height: 160px;
    }
  }
  .content-three{
    width: 100%;
    padding-top: 15px;
    .content-three-body{
      width: 100%;
      background: linear-gradient(-45deg, transparent 20px, rgba(220, 221, 221, 0.21) 0);
      padding: 20px;
      box-sizing: border-box;
      margin-top: 14px;
      .card-box{
        padding: 15px 20px;
      }
    }
  }

  .content-four{
    width: 100%;
    padding-top: 15px;
    .content-four-body{
      width: 100%;
      background: linear-gradient(-45deg, transparent 20px, rgba(220, 221, 221, 0.21) 0);
      padding: 20px;
      box-sizing: border-box;
      margin-top: 14px;
      .chart-box{
        padding: 30px 20px 20px;
        .left-box{
          .up{
            height: 51px;
            line-height: 51px;
          }
          .down{
            height: 51px;
            line-height: 51px;
            margin-top: 2px;
          }
        }
        .right-box{
          margin-left: 60px;
          .up{
            width: 356px;
            height: 51px;
            .l{
              width: 50%;
              height: 100%;
              background: linear-gradient(45deg, transparent 36px, #317DB8 0);
              padding-right: 10px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-end;
              color: #fff;
              .top,.bottom{
                height: 20px;
                font-size: 14px;
                line-height: 20px;
                span{
                  font-family: Bold;
                }
              }
            }
            .r{
              width: 50%;
              height: 100%;
              background: linear-gradient(-45deg, transparent 36px, #C0534F 0);
              padding-left: 10px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              color: #fff;
              .top,.bottom{
                height: 20px;
                font-size: 14px;
                line-height: 20px;
                span{
                  font-family: Bold;
                }
              }
            }
          }
          .down{
            width: 252px;
            height: 51px;
            margin-top: 2px;
            .l{
              width: 50%;
              height: 100%;
              background: linear-gradient(45deg, transparent 36px, #317DB8 0);
              position: relative;
              padding-right: 10px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-end;
              color: #fff;
              .top,.bottom{
                height: 20px;
                font-size: 14px;
                line-height: 20px;
                span{
                  font-family: Bold;
                }
              }
              .ratio{
                position: absolute;
                top: -9px;
                left: -65px;
                height: 18px;
                font-size: 18px;
                color: #203449;
                line-height:  18px;
                span{
                  font-family: Bold;
                }
              }
            }
            .r{
              width: 50%;
              height: 100%;
              background: linear-gradient(-45deg, transparent 36px, #C0534F 0);
              position: relative;
              padding-left: 10px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              color: #fff;
              .top,.bottom{
                height: 20px;
                font-size: 14px;
                line-height: 20px;
                span{
                  font-family: Bold;
                }
              }
              .ratio{
                position: absolute;
                top: -9px;
                right: -65px;
                height: 18px;
                font-size: 18px;
                color: #203449;
                line-height:  18px;
                span{
                  font-family: Bold;
                }
              }
            }
          }
        }
      }
      .gauge-box{
        padding:0 20px;
        .title{
          margin-right: 30px;
        }
        .two {
          :deep(.el-progress-circle__track) {
            // 修改进度条背景色 
            stroke: #e2eaef;
            stroke-width: 4;
          }
        }
        .percentage-value {
          font-size: 26px;
          font-family: Bold;
          span {
            font-size: 16px;
            font-family: Regular;
          }
        }
        .percentage-total {
          height: 16px;
          font-size: 16px;
          color: #203449;
          line-height: 16px;
          margin-top: 6px;
        }
      }
    }
  }
}