.group-contrast {
    .svg-icon.step-line-line{
        width: 0;
    }
    .text-info {
        .ellipsis {
            max-width: 210px;
            height: 100%;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .group-data {
        flex: 1;
        // width: calc(50% - 30px);
    }
    .vs-tag {
        width: 36px;
        min-width: 36px;
        height: 36px;
        border-radius: 50%;
        color: #B22924;
        border: 2px solid #B22924;
        font-size: 28px;
        text-align: center;
        margin: 0 15px;
    }

    .const-tag {
        padding: 0 18px;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 6px;
        border: 1px solid #D6DCE0;
        color: #203449;
        margin-right: 15px;
    }

    .add-btn {
        color: #005DA7;
    }

    .vs-content {

        .group,
        .contrast {
            min-height: 80px;
            border: 1px solid #D6DCE0;
            padding: 20px;
            background-color: #FFFFFF;
            border-radius: 4px;
        }

        .contrast {
            flex-wrap: wrap;
        }

        .contrast>.const-tag {
            margin-bottom: 15px;
        }
    }

    .qury-btn {
        margin-top: 14px;
        margin-bottom: 24px;
    }

    >section {
        min-height: 400px;
        background: linear-gradient(-45deg, transparent 20px, #ffffff 0);

        .svg-icon {
            width: 320px;
            height: 250px;
        }

        .no-content-des {
            font-size: 20px;
            color: #785151;
        }
    }

    .concrete {
        min-width: 1500px;
        overflow-x: auto;

        .el-tabs__item {
            width: 92px;
            height: 43px;
            background: rgba(5, 31, 51, 0.04);
            border-radius: 12px 12px 0px 0px;
            padding: 0;
            margin-right: 5px;
            margin-top: 10px;
            font-size: 16px;
            position: relative;

            .warn {
                width: 14px;
                height: 14px;
                position: absolute;
                top: -6px;
                right: 0;
            }
        }

        .el-tabs__item.is-active {
            background: #fff;
        }

        .el-tabs__active-bar {
            height: 4px;
            border-radius: 2px;
            width: 40px !important;
            margin: 0 26px;
        }

        .el-tabs__nav-wrap::after {
            display: none;
        }

        .el-tabs__header {
            margin: 0;
        }

        .el-tabs__nav-scroll {
            background-color: #F3F5F6;

            .el-tabs__item {
                background-color: #FFFFFF;
                border-radius: 12px 12px 0px 0px;
            }
        }

        .pane-contnet {
            padding: 20px;
            height: auto;
            background: linear-gradient(-45deg, transparent 20px, #ffffff 0);

            .vs-tag {
                margin-top: 100px;
            }

            .vs-view {
                border: 1px solid #DCDCDC;
                border-radius: 4px;

                >header {
                    height: 48px;
                    padding: 0 50px;
                    background-color: #F8FAFC;
                    text-align: center;
                    border-bottom: 1px solid #DCDCDC;

                    .des-title {
                        color: #01345C;
                        margin-right: 20px;
                        display: inline-block;
                    }

                    .des-tex {
                        color: #005DA7;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: inline-block;
                        max-width: 300px;
                    }
                }
            }
        }

        .content-direction {
            flex-direction: column;

            .vs-tag {
                margin: 20px 0;
                margin-left: calc(50% - 36px);
            }
        }
    }
}


.consumption-situation_panle-container {
    .left-container {
        .chart-box {
            height: 250px;
            flex: initial;
        }
    }
}